body {
  background: rgba(240, 160, 209, 0.644);
  color: rgb(85, 85, 85);
}

h1 {
  border: 10px dotted rgba(240, 160, 209, 0.644);
  font-size: 55px;
  animation: to-white 3s infinite;
}

.container {
  width: 90%;
  border: 3px solid rgb(248, 246, 246);
  margin: 0 auto;
  border-radius: 7px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 15px;
}

pre {
  text-align: left;
  background-color: rgba(245, 225, 240, 0.5);
  color: #000;
  margin: 0 auto;
  border: 1px solid #999;
  display: block;
  padding: 20px;
}

img {
  width: 308px;
  height: 308px;
  border-radius: 50%;
}

footer {
  margin-top: 5px;
  margin-bottom: -5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

p {
  text-transform: capitalize;
  text-align: center;
}

a {
  text-decoration: none;
  border: 3px solid #fffcfe;
  border-radius: 7px;
  padding: 5px;
  background-color: khaki;
  color: rgb(85, 85, 85);
}

a:hover {
  background-color: rgb(229, 197, 208);
  color: rgb(85, 85, 85);
}

.rss-logo {
  width: 100px;
  height: 60px;
  background: url("https://rs.school/images/rs_school_js.svg") no-repeat;
}

span {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 60px;
  border: 10px dotted rgba(240, 160, 209, 0.644);
}

@keyframes to-white {
  0% {
    color: black;
  }

  50% {
    color: white;
  }

  100% {
    color: black;
  }
}
